/JavaApplication36/nbproject/private/
/JavaApplication36/build/
/Tuan2_BaiTapLop/nbproject/private/
/Tuan2_BaiTapLop/build/
/Tuan2_BaiTapThem/nbproject/private/
/Tuan2_BaiTapThem/build/
/Tuan3_BaiTapLop/nbproject/private/
/Tuan3_BaiTapThem/nbproject/private/
/Tuan3_BaiTapThem/build/
/Tuan4_BaiTapThem/Tuan4/nbproject/private/
/Tuan4_BaiTapThem/Tuan4/build/
/Tuan4_BaiTapThem/Tuan5_BaiTapLop/nbproject/private/
/Tuan4_BaiTapThem/Tuan5_BaiTapLop/build/
/Tuan6_BaiTapLop/nbproject/private/
/Tuan6_BaiTapLop/build/
